<section class="register" style="height:90vh; margin-top:6rem;">

    <form action="" method="" id="signup">
        <h3>register now</h3>
        <input type="text" name="username" placeholder="enter your username" id="" class="box" required>
        <input type="email" name="email" placeholder="enter your email" id="" class="box" required>
        <input type="password" name="password" placeholder="enter your password" id="pass" class="box" required>
        <input type="password" name="confirmpassword" placeholder="re-enter your password" id="conpass" class="box" required>
        <input style="font-size:2rem ;" type="submit" value="register now" class="btn">
        <p>already have an account?</p>
        <a href="/" style="font-size:2rem ;" class="btn link">login now</a>
    </form>

</section>

<script>
    $('#signup').submit(function(e) {
              e.preventDefault()
            if(document.getElementById('pass').value == document.getElementById('conpass').value)
            {
            $.ajax({
                url:"/signup",
                method:'post',
                data:$('#signup').serialize(),
                success:(response)=>{
                  location.href='/'
            }
            })
            }
            else{
                alert("Password and newpassword are not same")
            }
            })
</script>